
body {
	height: 100%;
	background-image: url('../images/space.jpg');
	background-repeat: repeat-y;
    background-size: cover;
    font-size: 25px;
	font-family: 'Ranga', cursive;

}

.jumbotron {
	 opacity: 0.6;
}

.card{
	opacity: 0.6;
	font-size: 25px;
	font-family: 'Ranga', cursive;
	background-color: lightgrey;	
	width: 500px;
}

.navbar{
	opacity: 0.6;
	font-size: 25px;
	font-family: 'Ranga', cursive;
	background-color: lightgrey;	
}

.navbar:hover{
	background-color: #110447;
}

#button:hover{
	background-color: #110447;
}

#landing{
	margin-top: 5%;
  	animation: pulse 5s infinite;
}

.carousel-item {
  height: 545px; }

.carousel-image-1 {
  /*background: url("../images/image1.png");*/
  background-size: cover; }

.carousel-image-2 {
  /*background: url("../images/image2.jpg");*/
  background-size: cover; }

.carousel-image-3 {
 /* background: url("../images/image3.jpg");*/
  background-size: cover; }

footer { 
   /* position: fixed;*/
    /*left: 0;
    bottom: 0;*/
	 margin: 40px 0 0 0;
    width: 100%;
    background-color: darkgrey;
    color: black;
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
	font-family: 'Ranga', cursive;
	background-color: lightgrey;	
}









