body {
	background-image: url('../public/assets/images/space.jpg');
    background-size: cover;
}


.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

/*.img-responsive {
	display: inline-block;
    height: 50px;
    width: 200px;
}
*/
.carousel-caption {
    top: 0;
    bottom: auto;
}


.carousel-image-1 {
 /* background: url("../images/image1.png");*/
  background-size: cover; }

.carousel-image-2 {
 /* background: url("../images/image2.jpg");*/
  background-size: cover; }

.carousel-image-3 {
/*  background: url("../images/image3.jpg");*/
  background-size: cover; }